// Universals

    h1, h2, h3, h4, h5, h6 {
      font-family: 'Open Sans','Helvetica Neue', Helvetica, sans-serif;
    }

// Page Head

    .page-head__title {
      font-size: 1.5rem;
      line-height: 1.25;
      margin-top: 0;
      margin-bottom: 0.5rem;          
      @media (min-width: 40rem) {
        font-size: 2rem;
        line-height: 1.25;
        margin-bottom: 0.75rem;
      }
      @media (min-width: 60rem) {
        font-size: 2.25rem;
        line-height: 1.125;
        margin-bottom: 0.75rem;
      }
    }

    .page-head__description {
      line-height: 1.5;
    }

    .page-head__metadata { 
      font-style: normal; // overriding existing LZUI for this class
      padding-left: 0;
      margin-bottom: .75rem;
      li {
        @media (max-width: 40rem) {
          font-size: .75rem;  
        }
        list-style: none;
        margin-bottom: 2px;
        font-size: .875rem;
        // display: inline-block;
        // margin-right: 2rem;
        strong {
          text-transform: capitalize;
          font-weight: normal;
          color: #aaa;
        }
      }
    }

// Secondary Nav

    .secondary-nav {
      ul {
        margin-top: .75rem;
        padding-left: 0;
        li {
          list-style: none;
        }
        @media (max-width: 60rem) {
          border: 1px solid #ddd;
          border-left: 7px solid #45BBED;
          border-radius: 4px;
          padding: .5rem .875rem;
          background: linear-gradient(to bottom, #fff 0%, #f1f1f1 100%);
          box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
          position: relative;
          &:hover {
            cursor: pointer;
          }
          li {
            display: none;
            a {
              color: #333;
              font-weight: bold;
            }
          }
          li:first-child {
            display: block;
          }
          svg {
            position: absolute;
            right: .5rem;
            top: .6rem;
            width: 1.25rem;
            fill: #666;
          }
        }        
      }

      
      @media (min-width: 60rem) {
        border-bottom: 1px solid #ddd;
        margin: 0;
        ul {
          margin: 1rem 0 -1px 0;
          li {
            display: inline-block;
            margin-left: 4px;
            a {
              display: block;
              border-top: 1px solid #ddd;
              border-left: 1px solid #ddd;
              border-right: 1px solid #ddd;
              padding: .75rem 1rem;
              position: relative;
              font-weight: bold;
              font-size: .875rem;
            }
            a:hover {
              background: #fafafa;
            }
          }
          li.active {
            a {
              border-bottom: 1px solid white;
              border-top: 1px solid #45BBED;
              color: #444;
              background: white;
            }
            a:before {
              border-top: 4px solid #45BBED;
              content: " ";
              position: absolute;
              left: 0;
              top: 0;
              right: 0;
            }
          }
          svg { display: none; }    
        }
      }
    }

// Actions UI

    .actions-ui {
      a {
        padding: 0 .625rem 0 .5rem;
        font-size: .75rem;
        display: block;
        height: 2rem;
        line-height: 2rem;
        .icon {
          line-height: 0;
          margin-right: 2px;
          display: inline;
          position: relative;
          top: -1px;
          svg {
            display: inline-block; 
            width: .75rem;
            height: .75rem;
          }
        }
      }
    }

    .actions-ui__primary {
      
      // Universal
      a {
        background: linear-gradient(to top, #DD4588 0%, #E864A5 100%);
        color: #fff;
        border-radius: 3px;
        .icon {
          svg {
            fill: white;
            fill-opacity: .4;
          }
        }
      }
      
      // Small screens
      @media (max-width: 40rem) {
        display: inline-block;
        margin-right: 4px;
      }
      
      // Large screens
      @media (min-width: 40rem) {
        margin-bottom: .5rem;
      }
    }

    .actions-ui__secondary {
      
      // Universal
      padding: 0;
      margin: 0 0 .5rem 0;
      li {
        list-style: none;
        a {
          background: #fafafa;
          color: #888;
          .icon {
            svg {
              fill: #ccc;
            }
          }
        }
      }
      
      // Small screens
      @media (max-width: 40rem) {
        display: inline-block;
        li {
          display: inline-block;
          margin-right: 4px;
          a {
            border-radius: 3px;
            border: 1px solid #eaeaea;
          }
        }
      }

      // Large screens
      @media (min-width: 40rem) {
        border: 1px solid #eaeaea;
        border-radius: 3px;
        li {
          border-bottom: 1px solid #eaeaea;
        }
        li:last-child {
          border-bottom: none;
        }
      }      
      
    }