<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- TITLE -->
    <title>LearnZillion Prototype Library</title>

    <!-- META -->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- STYLESHEETS -->
    <link href="css/main.css" media="all" rel="stylesheet" type="text/css">

    <!-- Javascripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="javascript/main.js"></script>

  </head>
  <body>

    <!-- Begins global LZ header-->
    <div id="header">
      <div class="mastheader">
      <div class="container">
      <div class="logo">
      <a href="https://learnzillion.com/" data-analytics-event-json="{\&quot;Resource ID\&quot;:17132,\&quot;Resource Type\&quot;:\&quot;Wiki\&quot;,\&quot;Source\&quot;:\&quot;header\&quot;,\&quot;Action\&quot;:\&quot;viewed\&quot;}" data-analytics-event="Resource Used"><div class="mark">
      <img alt="Logo_mark" src="images/logo_mark.png">
      </div>
      <div class="type">
      <img alt="Logo_type" src="images/logo_type.png">
      </div>
      </a></div>
      <div class="search">
      <div class="toggle">x</div>
      <div class="input passive">
      <form accept-charset="UTF-8" action="/search" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
      <div class="input-wrap">
      <input id="query" name="query" placeholder="Search or enter quick code..." type="search" value="">
      </div>
      <input id="searchSubmit" type="submit" value="">
      </form>

      </div>
      </div>
      </div>
      </div>
      <div class="nav-container theme-dark">
      <a href="" class="toggleMenu">Menu</a>
      <div class="nav-wrapper">
      <div class="container row">
      <ul class="nav-explore small-12">
      <li class="section">
      <a>Explore</a>
      </li>
      <li>
      <a href="/resources/39489" data-analytics-event-json="{\&quot;Resource ID\&quot;:39489,\&quot;Resource Type\&quot;:\&quot;Wiki\&quot;,\&quot;Source\&quot;:\&quot;header\&quot;,\&quot;Action\&quot;:\&quot;viewed\&quot;}" data-analytics-event="Resource Used">Math</a>
      </li>
      <li>
      <a href="/resources/39488" data-analytics-event-json="{\&quot;Resource ID\&quot;:39488,\&quot;Resource Type\&quot;:\&quot;Wiki\&quot;,\&quot;Source\&quot;:\&quot;header\&quot;,\&quot;Action\&quot;:\&quot;viewed\&quot;}" data-analytics-event="Resource Used">ELA</a>
      </li>

      <li>
      <a href="/common_core/math">Common Core Navigator</a>
      </li>
      <li>
      <a href="/teacher/classes?import=1">My classes (1)</a>
      </li>
      </ul>
      <ul class="nav-account">
      <li class="section">
      <a>My account</a>
      </li>
      <li><a href="/teacher/dashboard">Dashboard</a></li>
      <li><a href="https://help.learnzillion.com/">Help</a></li>
      <li class="user has-subnav">
      <a href="#" class="subnav">David</a>
      <ul>
      <li><a href="https://learnzillion.com/admin">Admin</a></li>
      <li><a href="https://learnzillion.com/starred">Favorites</a></li>
      <li><a href="https://learnzillion.com/user/edit">Account settings</a></li>
      <li><a href="/logout" data-method="delete" rel="nofollow">Log out</a></li>
      </ul>
      </li>
      </ul>
      </div>
      </div>
      </div>
    </div>

    <!-- *************************************** -->
    
    {{ content }}
    
</body></html>