/* -- SETUP -- */

    * {
      margin: 0;
      padding: 0;
      position: relative;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
    }

    body {
      font-family: "Open Sans", Arial;
      font-size: 14px;
      line-height: 20px;
      color: #333;
    }

/* -- GENERAL -- */

    section         { padding: 14px; }
    h1              { font-weight: 200; font-size: 90px; line-height: 118px; }
    p               { margin: 0 0 18px 0; }
    a               { text-decoration: none; color: gold; }

/* -- */

    html,body       { width: 100%; height: 100%; }

    #wrapper        { position: absolute;
                      left: 0px;
                      background: #777;
                      top: 0px;
                      height: 100%;
                      width: 100%;
                      z-index: 2; }
    #gif            { background-color: transparent;
                      background-position: center center;
                      background-repeat: no-repeat;
                      background-size: cover;
                      position: absolute;
                      height: 100%;
                      width: 100%;
                      z-index: 1; }
    #chyron         { position: absolute;
                      text-align: center;
                      bottom: 0px; left: 0px; right: 0px; 
                      background-color: rgba(0,0,0,0.5);
                      padding: 32px;
                      color: #fff;
                      z-index: 3; }
    #belowfold      { position: absolute;
                      background: #09004c;
                      color: #fff;
                      top: 100%; 
                      width: 100%;
                      padding: 40px; }