---
layout: default
---

{% for entity in site.entities limit:1 %}
<div class="row mtm">
  <div class="columns large-12">
    <h4 class="page-head__pretext">{{ entity.type }}</h4>
  </div>
</div>
<div class="row">
  <div class="columns medium-9 small-12">
    <h1 class="page-head__title">{{ entity.title }}</h1>
    <p class="page-head__description">{{ entity.description }}</p>
    <ul class="page-head__metadata">
      {% for metadata in entity.metadata %}
        <li><strong>{{ metadata[0] }}:</strong> {{ metadata[1] }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="columns medium-3 small-12">
    <div class="actions-ui">
      <div class="actions-ui__primary">
        <a href="">
          <div class="icon">{% include svg/icon.svg %}</div> Assign
        </a>
      </div>
      <ul class="actions-ui__secondary">
        <li><a href="#"><div class="icon">{% include svg/icon.svg %}</div> Favorite</a></li>
        <li><a href="#"><div class="icon">{% include svg/icon.svg %}</div> Print</a></li>
        <li><a href="#"><div class="icon">{% include svg/icon.svg %}</div> More...</a></li>
      </ul>
    </div>
  </div>
</div>
{% endfor %}

<div class="secondary-nav">
  <div class="row">
    <div class="columns large-12">
      <ul>
        <li class="active"><a href="#">Core lesson</a></li>
        <li><a href="#">Expanded lesson</a></li>
        <li><a href="#">Differentiation</a></li>
        <li><a href="#">About this lesson</a></li>
        <li><a href="#">Related content</a></li>
        <svg class="svg-caret" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	 viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve">
        	<path class="svg-fg" d="M66.8,93.7c-1.5,1.6-4.1,1.6-5.6,0L22.9,54.9c-1.5-1.6-1.5-4.1,0-5.7l7.1-7c1.6-1.5,4.1-1.5,5.7,0l25.5,25.8
        		c1.5,1.6,4.1,1.6,5.6,0l25.5-25.8c1.5-1.6,4.1-1.6,5.7,0l7.1,7c1.6,1.5,1.6,4.1,0,5.7L66.8,93.7z"/>
        </svg>
      </ul>
    </div>
  </div>
</div>