/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: "Helvetica Neue", Arial;
  font-size: 14px;
  line-height: 18px;
  color: #555;
  font-weight: 300;
}

.wrapper { width: 640px; margin: 0 auto; }

.feed { overflow: hidden; width: auto; border-top: 1px solid #eee; padding: 15px 0 10px 0; }
.feed img { background: #eee; float: left; }

.feed h2  { font-size: 18px; line-height: 21px; margin: 0 0 6px 0; color: #333; }
.feed p   { margin: 0 0 6px 0; }
.feed ul  { margin: 0 0 6px 0; }

.feed h2,
.feed p   { margin-left: 73px; }
.feed ul  { margin-left: 50px; }