<div class="wrapper">

  <% @podcasts.each.with_index do |podcast,index| %>

    <div class="feed">
      <a href="<%= podcast_path(podcast) %>">
        <img src="<%= podcast.image %>" width="90" height="90" />
        <h2><%= podcast.name %></h2>
        <p><%= podcast.description %></p>
      </a>
    </div> <!-- end: .feed -->

  <% end %>

  <%#= link_to 'New Podcast', new_podcast_path %>

</div> <!-- end: .wrapper -->